body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  position: sticky;
  overflow: hidden;
  background-color: #E6EAEA;
}

.topnav a {
  color: #202121;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  float: right;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #49c5b6;
  color: white;
}
.website-wrapper{
  background:url(https://www.mockplus.com/images/post_bg1.png);
  height: 100%;
  width: 100%;
}
.website-wrapper h1{
  color: #fcfcfc;
  text-align: center;
  padding-top: 150px;
}
email-signup-wrapper{
  color:#fcfcfc;
}
.website-wrapper p{
  color:#EDF5E1;
  padding-top: 50px;
  font-style: bold;
  font-size:18px;
  padding-bottom:200px;
  text-align:center;
}
.left-div{
  float: left;
  width: 50%"
}
.headertext{
  text-align:center;
  font-size: 65px;
}
.userForm{
  width:80%;
  padding:36px;
  border: 1px solid #d5d5d5;
}
.heading{
  font-size: 21px;
  text-align:center;
}
input{
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius:5px;
}
.register-button{
  padding-top:5px;
  padding-bottom:15px;
}
button{
  border-radius:2px;
  padding:3px;
}
.btn--3d {
  border-bottom-width: 3px;
  transition: none;
}
.btn-block {
  display: block;
  width: 25%;
}